<!DOCTYPE html>
<html class="wide wow-animation" lang="es">
<head>
<title>Donaciones Mendoza</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<!-- <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
<link rel="icon" href="images/Logo_blood_02.png" type="image/x-icon">
<link rel="stylesheet" type="text/css"
	href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<div class="preloader">
		<div class="wrapper-triangle">
			<div class="pen">
				<div class="line-triangle">
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
				</div>
				<div class="line-triangle">
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
				</div>
				<div class="line-triangle">
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
					<div class="triangle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="page">

		<!-- Page Header-->
		<header class="section page-header">
			<!-- RD Navbar-->
			<div class="rd-navbar-wrap">
				<nav class="rd-navbar rd-navbar-modern"
					data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
					data-md-layout="rd-navbar-fixed"
					data-md-device-layout="rd-navbar-fixed"
					data-lg-layout="rd-navbar-static"
					data-lg-device-layout="rd-navbar-fixed"
					data-xl-layout="rd-navbar-static"
					data-xl-device-layout="rd-navbar-static"
					data-xxl-layout="rd-navbar-static"
					data-xxl-device-layout="rd-navbar-static"
					data-lg-stick-up-offset="56px" data-xl-stick-up-offset="56px"
					data-xxl-stick-up-offset="56px" data-lg-stick-up="true"
					data-xl-stick-up="true" data-xxl-stick-up="true">
					<div class="rd-navbar-inner-outer">
						<div class="rd-navbar-inner">
							<!-- RD Navbar Panel-->
							<div class="rd-navbar-panel">
								<!-- RD Navbar Toggle-->
								<button class="rd-navbar-toggle"
									data-rd-navbar-toggle=".rd-navbar-nav-wrap">
									<span></span>
								</button>
								<!-- RD Navbar Brand-->
								<div class="rd-navbar-brand">
									<a class="brand" href="/"><img class="brand-logo-dark"
										src="images/Logo_blood_01.png"></a>
								</div>
							</div>
							<div class="rd-navbar-right rd-navbar-nav-wrap">

								<div class="rd-navbar-main">
									<!-- RD Navbar Nav-->
									<ul class="rd-navbar-nav">
										<li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
										</li>
										<li class="rd-nav-item"><a class="rd-nav-link"
											href="/pedido">Pedidos</a></li>
										<li class="rd-nav-item active"><a class="rd-nav-link"
											href="/estadisticas">Estadísticas</a></li>
										<li class="rd-nav-item"><a class="rd-nav-link"
											href="/pregFrecuentes">FAQ</a></li>
										<li class="rd-nav-item"><a class="rd-nav-link"
											href="/login">Iniciar Sesion</a></li>
										</li>
									</ul>
								</div>
							</div>

							<div class="rd-navbar-project">

								<div class="rd-navbar-project-content rd-navbar-content">
									<div>
										<div class="row gutters-20" data-lightgallery="group">
											<div class="col-6">
												<!-- Thumbnail Creative-->
												<article class="thumbnail thumbnail-creative">
													<a href="images/caridad.jpg" data-lightgallery="item">
														<div class="thumbnail-creative-figure">
															<img src="images/iconos.jpg" alt="" width="195"
																height="164" />
														</div>
														<div class="thumbnail-creative-caption">
															<span
																class="icon thumbnail-creative-icon linearicons-magnifier"></span>
														</div>
													</a>
												</article>
											</div>
											<div class="col-6">
												<!-- Thumbnail Creative-->
												<article class="thumbnail thumbnail-creative">
													<a href="images/de-donacion.jpg" data-lightgallery="item">
														<div class="thumbnail-creative-figure">
															<img src="images/de-donacion.jpg" alt="" width="195"
																height="164" />
														</div>
														<div class="thumbnail-creative-caption">
															<span
																class="icon thumbnail-creative-icon linearicons-magnifier"></span>
														</div>
													</a>
												</article>
											</div>
											<div class="col-6">
												<!-- Thumbnail Creative-->
												<article class="thumbnail thumbnail-creative">
													<a href="images/donacion-de-sangre.jpg"
														data-lightgallery="item">
														<div class="thumbnail-creative-figure">
															<img src="images/gotita.jpg" alt="" width="195"
																height="164" />
														</div>
														<div class="thumbnail-creative-caption">
															<span
																class="icon thumbnail-creative-icon linearicons-magnifier"></span>
														</div>
													</a>
												</article>
											</div>
											<div class="col-6">
												<!-- Thumbnail Creative-->
												<article class="thumbnail thumbnail-creative">
													<a href="images/manos-sosteniendo-una-sangre-roja.jpg"
														data-lightgallery="item">
														<div class="thumbnail-creative-figure">
															<img src="images/88sangre.jpg" alt="" width="195"
																height="164" />
														</div>
														<div class="thumbnail-creative-caption">
															<span
																class="icon thumbnail-creative-icon linearicons-magnifier"></span>
														</div>
													</a>
												</article>
											</div>
											<div class="col-6">
												<!-- Thumbnail Creative-->
												<article class="thumbnail thumbnail-creative">
													<a href="images/gotita.jpg" data-lightgallery="item">
														<div class="thumbnail-creative-figure">
															<img src="images/azules.jpg" alt="" width="195"
																height="164" />
														</div>
														<div class="thumbnail-creative-caption">
															<span
																class="icon thumbnail-creative-icon linearicons-magnifier"></span>
														</div>
													</a>
												</article>
											</div>
											<div class="col-6">
												<!-- Thumbnail Creative-->
												<article class="thumbnail thumbnail-creative">
													<a href="images/project-6-1200x800-original.jpg"
														data-lightgallery="item">
														<div class="thumbnail-creative-figure">
															<img src="images/gotita.jpg" alt="" width="195"
																height="164" />
														</div>
														<div class="thumbnail-creative-caption">
															<span
																class="icon thumbnail-creative-icon linearicons-magnifier"></span>
														</div>
													</a>
												</article>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</header>


		<!-- Section CTA-->
		<section class="primary-overlay section parallax-container"
			data-parallax-img="images/Fondo.jpg">
			<div class="parallax-content section-xl context-dark text-md-left">
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-sm-8 col-md-7 col-lg-5">
							<div class="cta-modern">
								<h3 class="cta-modern-title wow fadeInRight">Las donaciones
									de sangre salvan vidas</h3>

								<p class="cta-modern-text oh-desktop" data-wow-delay=".1s">
									<span class="cta-modern-decor wow slideInLeft"></span> <a
										class="button button-md button-secondary-2 button-winona wow fadeInUp"
										href="/registro" data-wow-delay=".2s">hace tu registro</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<br>
		<h1>Datos y Estadísticas</h1>
		<h5>Para tomar conciencia</h5>
		<p>
			<b> Si el 3 al 5% de los ciudadanos concurre a donar 2 veces al
				año se cubre el 100% de las necesidades del país. </b>
		</p>
		</li>
		<li>

			<h4>Las transfusiones de sangre permiten salvar vidas y mejorar
				la salud</h4> Cada año se regogen en el mundo 112,5 millones de unidades
			de sangre. Cerca del 47% d e esas donaciones corresponden a los
			países de ingresos altos, que representan el 19% de la población del
			planeta. Sin embargo, muchos pacientes que las necesitan no pueden
			acceder a tiempo a transfusiones seguras. Cada país debe asegurarse
			de que sus existencias de sangre son suficientes y no están
			contaminadas por el VIH, los virus de la hepatitis u otras
			infecciones que pueden transmitirse a través de las transfusiones. </br> </br>




			<h4>Las transfusiones de sangre se utilizan como apoyo de varios
				tratamientos</h4> En los países de ingresos altos, el grupo de pacientes
			transfundidos con mayor frecuencia es el de los mayores de 60 años,
			con el 79% del total de las transfusiones. Las transfusiones se
			utilizan principalmente en apoyo de cirugía cardiovascular, cirugía
			de trasplantes, traumatismos masivos y el tratamiento de tumores
			malignos sólidos y neoplasias sanguíneas. En los países de ingresos
			bajos y medios, en cambio, suelen utilizarse más en el tratamiento de
			las complicaciones relacionadas con el embarazo, el paludismo
			infantil con anemia grave o la traumatología. </br> </br>

			<h4>La única forma de garantizar el suministro de sangre segura
				es la donación periódica por voluntarios no remunerados</h4> Solo se
			puede asegurar un suministro suficiente de sangre no contaminada
			mediante la donación regular por voluntarios no remunerados, que son
			los que tienen la menor prevalencia de infecciones transmisibles por
			la sangre. La OMS insta a los países a elaborar sistemas nacionales
			de transfusiones basados en donantes voluntarios no remunerados y a
			trabajar para alcanzar la autosuficiencia en el suministro. </br> </br>
			<h4>En 57 países el 100% de las donaciones son hechas por
				voluntarios no remunerados</h4> En 2013, 74 países informaron de la
			recogida de más de 90% de su suministro de sangre de donantes de
			sangre voluntarios y no remunerados, entre ellos 57 países reúnen el
			100% del suministro de sangre de los donantes de sangre voluntarios y
			no remunerados. Sin embargo, en 71 países, la cantidad de sangre
			procedente de donantes voluntarios no remunerados sigue siendo
			inferior al 50%, lo que significa que gran parte de su suministro de
			sangre sigue dependiendo de las donaciones de familiares o allegados
			y de donantes remunerados. </br> </br>
			<h4>Cada año se recogen en el mundo unos 112,5 millones de
				unidades de sangre</h4> Aproximadamente un 50% de esas donaciones
			corresponden a los países de ingresos bajos y medios que representan
			el 80% de la población del planeta. La tasa media de donaciones de
			sangre es unas 9 veces mayor en los países de ingresos altos que en
			los de ingresos bajos y medios. </br> </br>
			<h4>Variación de las extracciones de sangre</h4> Un total de 83
			millones de unidades de sangre donada se recoge en unos 10 000
			centros repartidos por 168 países. La media de donaciones anuales por
			centro es de 15 000 en los países de ingresos altos; en comparación
			con las 3100 en los de ingresos medios y bajos. </br> </br>
			<h4>¿Qué país es el que más donantes de sangre tiene?</h4> La tasa de
			donaciones de sangre tiene un valor mediano de 32,1 por 1000 al año
			en los países de ingresos altos, frente a 7,8 por 1000 en los de
			ingresos medios y 4,6 en los de ingresos bajos </br> </br>
			<h4>Análisis de la sangre donada</h4> Antes de su transfusión, la
			sangre donada debe ser sometida siempre a pruebas de detección del
			VIH, las hepatitis B y C y la sífilis. Sin embargo, en 35 países no
			toda la sangre donada es sometida a análisis de una o más de estas
			infecciones. Las pruebas no son fiables en muchos países por falta de
			personal, irregularidad del suministro y mala calidad de los kits, o
			falta de servicios básicos de laboratorio. </br> </br>
			<h4>¿Cuántos pacientes se benefician de un solo donante?</h4> La
			separación de los diferentes componentes de la sangre permite que una
			sola unidad de sangre beneficie a varios pacientes; proporcionando a
			cada uno de ellos únicamente el componente que necesita. En los
			países de ingresos altos se fracciona aproximadamente un 97% de la
			totalidad de la sangre recogida; frente a un 75;5% en los países de
			ingresos medios y a un 50% en los de ingresos bajos. </br> </br>
			<h4>Transfusiones innecesarias exponen a los pacientes a riesgos
				innecesarios</h4> A menudo se prescriben transfusiones sanguíneas a pesar
			de la existencia de tratamientos alternativos simples y seguros que
			pueden resultar igual de eficaces. En consecuencia, esas
			transfusiones puede ser innecesarias y exponen a los pacientes a un
			riesgo innecesario de infecciones; como VIH y hepatitis y reacciones
			transfusionales graves. </br> </br>



			<H3>Derribando Mitos</H3>

			<h4>SI DONO SANGRE ME VOY A SENTIR MAL</h4> Sólo se te extraerá una
			unidad de sangre, que se reemplaza en cuestión de horas, por eso no
			te afectará en las actividades que realices en el día. </br> </br>
			<h4>MI GRUPO SANGUÍNEO ES MUY COMÚN Y NO ES NECESARIO QUE DONE</h4>

			Si tu grupo sanguíneo es frecuente también es muy común para la
			mayoría de la población, por lo tanto, ¡es la sangre que más se
			necesita! </br> </br>
			<h4>CORRO RIESGOS DE CONTAGIARME ALGUNA ENFERMEDAD</h4> Las bolsas de
			extracción son estériles y el procedimiento se realiza bajo estrictas
			normas de asepsia. Podés donar en todos los bancos de sangre, y en
			ninguno te contagiarás enfermedades. </br> </br>
			<h4>TENGO TATUAJES, NO PUEDO DONAR</h4> Si tenés tatuajes o alguna
			perforación en el cuerpo podés donar después de un año de habértelos
			hecho. </br> </br>

			<h4>EL PROCESO DE EXTRACCIÓN ES DOLOROSO</h4> No es doloroso y además
			es rápido. La extracción se hace a través de una pequeña punción de
			la piel y con una aguja se llega a la vena. El procedimiento no
			difiere de una extracción común, sólo que en lugar de jeringa se
			recolecta en la bolsa. </br> </br>
			<h4>LA SANGRE SE NECESITA SÓLO PARA EMERGENCIAS, POR ESO ME
				RESERVO POR SI ALGUIEN DE MI FAMILIA LO NECESITA.</h4> Si alguien de tu
			familia necesita la sangre con urgencia tu donación llegará tarde.
			¡Necesitará contar con sangre lista y disponible ante una emergencia!





			</br> </br>
	</div>
	</div>
	</div>
	</section>

	<!-- HTML Text Elements-->


	<!-- Lists and Blockquote-->
	<section
		class="section section-sm bg-default section-style-2 text-md-left">
		<div class="container">
			<h4>HemoSol</h4>
			<div class="row">
				<div class="col-lg-10 col-xl-7">
					<div class="row row-30">
						<div class="col-md-6">
							<ul class="list-marked d-inline-block d-inline-md-block">
								<li>Nosotros</li>
								<li>Instituciones donde donar</li>
								<li>Estadísticas</li>
								<li>Home</li>
								<li>Contacto</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Blockquote-->
	<section
		class="section section-sm section-last bg-default section-style-2 text-md-left">
		<div class="container">
			<div class="row row-50">
				<div class="col-lg-10 col-xl-7">
					<h4>¡IMPORTANTE!</h4>
					<!-- Quote Classic-->
					<article class="quote-classic">
						<div class="quote-classic-text">
							<p class="q">"La promoción de la donación voluntaria de
								sangre a través de la formación de recursos humanos, campañas,
								operativos de colecta y conformación de unidades de gestión de
								donantes voluntarios, resultó en el aumento en cantidad y
								calidad de las donaciones de sangre. "
							<p class="quote-classic-author">
								Luis Pérez</br> Especialista Senior en Salud Pública del Banco
								Mundial
							</p>
							</i></br>

							</p>
						</div>

						<img src="Images/estadisticas3.png" width="300"></img>
						</p>
					</article>
				</div>
			</div>
		</div>
	</section>

	<!-- Page Footer-->
		<footer class="section footer-modern context-dark footer-modern-2">
			<div class="footer-modern-line">
				<div class="container">
					<div class="row row-50">
						<div class="col-md-6 col-lg-4">
							<h5 class="footer-modern-title oh-desktop">
								<span class="d-inline-block wow slideInLeft">Secciones</span>
							</h5>
							<ul
								class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">

								<li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
								</li>
								<li class="rd-nav-item active"><a class="rd-nav-link"
									href="/pedido">Pedidos</a></li>
								<li class="rd-nav-item"><a class="rd-nav-link"
									href="/estadisticas">Estadísticas</a></li>
								<li class="rd-nav-item"><a class="rd-nav-link"
									href="/pregFrecuentes">FAQ</a></li>
								<li class="rd-nav-item"><a class="rd-nav-link"
									href="/login">Iniciar Sesión</a></li>
							</ul>
						</div>
						
						<div class="col-lg-4 col-xl-5">
							<h5 class="footer-modern-title oh-desktop">
								<span class="d-inline-block wow slideInLeft">Newsletter</span>
							</h5>
							<p class="wow fadeInRight">Registrate para recibir mas
								informacion</p>
							<!-- RD Mailform-->
							<form
								class="rd-form rd-mailform rd-form-inline rd-form-inline-sm oh-desktop"
								data-form-output="form-output-global" data-form-type="subscribe"
								method="post" action="bat/rd-mailform.php">
								<div class="form-wrap wow slideInUp">
									<input class="form-input" id="subscribe-form-2-email"
										type="email" name="email" data-constraints="@Email @Required" />
									<label class="form-label" for="subscribe-form-2-email">Ingresa
										tu mail</label>
								</div>
								<div class="form-button form-button-2 wow slideInRight">
									<button
										class="button button-sm button-icon-3 button-primary button-winona"
										type="submit">
										<span class="d-none d-xl-inline-block">Subscribe</span><span
											class="icon mdi mdi-telegram d-xl-none"></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-modern-line-2">
				<div class="container">
					<div class="row row-30 align-items-center">
						<div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
							<div class="row row-30 align-items-center text-lg-center">
								<div class="col-md-7 col-xl-6">
									<a class="brand" href="index.html"><img
										src="images/Logo_blood_01.png" alt="" width="198" height="66" /></a>
								</div>
								<div class="col-md-5 col-xl-6">
									<div class="iso-1">
										<span><img src="" alt="" width="58" height="25" /></span><span
											class="iso-1-big">9.4k</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-12 col-lg-8 col-xl-8 oh-desktop">
							<div class="group-xmd group-sm-justify">
								<div class="footer-modern-contacts wow slideInUp">
									<div class="unit unit-spacing-sm align-items-center">
										<div class="unit-left">
											<span class="icon icon-24 mdi mdi-phone"></span>
										</div>
										<div class="unit-body">
											<a class="phone" href="tel:#">54 261 123 4567</a>
										</div>
									</div>
								</div>
								<div class="footer-modern-contacts wow slideInDown">
									<div class="unit unit-spacing-sm align-items-center">
										<div class="unit-left">
											<span class="icon mdi mdi-email"></span>
										</div>
										<div class="unit-body">
											<a class="mail" href="mailto:#">info@donacionesdesangremendoza</a>
										</div>
									</div>
								</div>
								<div class="wow slideInRight">
									<ul
										class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
										<li><a class="icon mdi mdi-facebook" href="#"></a></li>
										<li><a class="icon mdi mdi-twitter" href="#"></a></li>
										<li><a class="icon mdi mdi-instagram" href="#"></a></li>
										<li><a class="icon mdi mdi-google-plus" href="#"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-modern-line-3">
				<div class="container">
					<div class="row row-10 justify-content-between">
						<div class="col-md-6">
							<span>Av. del Libertador., Mendoza</span>
						</div>
						<div class="col-md-auto">
							<!-- Rights-->
							<p class="rights">
								<span>&copy;&nbsp;</span><span class="copyright-year"></span><span></span><span>.&nbsp;</span><span>All
									Rights Reserved.</span><span> Design&nbsp;by&nbsp;<a
									href="https://eggeducacion.com/">Egg Tech</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- Global Mailform Output-->
	<div class="snackbars" id="form-output-global"></div>
	<!-- Javascript-->
	<script src="js/core.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>